main {
    min-height: 500px;
}

#section-banner {
    min-height: 400px;
}

#section-banner img {
    height: 500px;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    font-weight: bold;
}

.card {
    max-width: 400px;
    background-color: rgb(32, 94, 226);
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: auto;
}

mat-grid-list {
    margin: 10px 0px;
}

mat-grid-tile {
    padding: 2px;
    border-radius: 30px;
}

mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

mat-card-actions {
    background-color: rgb(31, 27, 236);
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

mat-card img {
    height: 300px;
    width: 300px;
}

mat-card-content {
    text-align: center;
}

mat-card-title {
    font-weight: bold;
}


  